body{
    background-image: url("./cat-background.jpg")
}

.container {
    position: absolute;
    left:250px;
    top:240px;
    font-size: 30px;
   color: black;
   font-weight:bold;

}

h1{
    font-size: 100px;
    text-align: center;
    color: white;
    background-color:black;
    
}

p{
    font-size:20px;
    color:lightblue;
    font-weight:bold;
}

.btn-lg{
    font-size:60px;
}

form{
    font-size:20px;
    color: #C58917;
    background-color:black;
    width:450px;
    padding-top:10px;
    text-align: left;
    margin:4px;
}

#Q8{
    width:580px;
}

.title{
    background-color:white;
    width:1200px;
    position: absolute;
    left: 100px;
    top:60px;
    font-family: 'Rammetto One', cursive;

}

.Q{
    background-color:black;
    width: 450px;
    padding:5px;
}

.timer,.time{
    background-color:black;
    color:lightcoral;
    font-size: 40px;
    width:400px;
    text-align: center;
}

#Q,#Q1,#Q3,#Q4,#Q5,#Q6,#Q7,#Q8,#Q9,#Q10{
    padding:5px;
   
}

input[type="radio"] {
    margin-right: 3px;
    margin-left: 5px;
  }

.submit{
    font-size:30px;
    position: absolute;
    left:250px;
}

.intro{
    background-color:black;
    color:white;
    font-size:30px;
    position: absolute;
    top:230px;
    left: 50px;
    width:200px;
    padding:10px;
    font-family: 'Shadows Into Light', cursive;


}